<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!-- 最上部のマージン -->
    <add key="topMargin" value="20"/>
    <!-- バーコード間(縦位置)のマージン -->
    <add key="barcodeYMargin" value="10"/>
    <!-- バーコード間(横位置)のマージン -->
    <add key="barcodeXMargin" value="10"/>

    <!-- バーコード幅 -->
    <add key="barcodeWidth" value="250"/>
    <!-- バーコード高さ -->
    <add key="barcodeHeight" value="100"/>
  </appSettings>
</configuration>